<!DOCTYPE html>
<html>
  <body style="font-family: Arial; background: #f3fff4; padding: 20px">
    <div
      style="
        max-width: 600px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        border-left: 6px solid #5cb85c;
      "
    >
      <h2 style="color: #5cb85c; margin-bottom: 10px">
        ✅ Serviço Iniciado com Sucesso
      </h2>

      <p style="font-size: 16px">
        O serviço <strong>{{.Service}}</strong> foi iniciado corretamente.
      </p>

      <p style="margin-top: 20px">Informações do servidor:</p>

      <ul style="line-height: 1.7; font-size: 15px">
        <li>CPU: <strong>{{.CPU}}</strong></li>
        <li>Memória: <strong>{{.Memory}}</strong></li>
        <li>Disco ({{.DiskPath}}): <strong>{{.Disk}}</strong></li>
        <li>Data/Hora: <strong>{{.Time}}</strong></li>
      </ul>

      <p style="margin-top: 25px; color: #777">
        Nenhuma ação adicional é necessária.
      </p>
    </div>
  </body>
</html>
