DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

NOTIFY_EMAILS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

THRESHOLD_WARNING=85.0
DISK=C:
PERIOD=60
MAX_RETRIES=2

TOKEN=

START=21
END=6
NEXT_TRY=30

API_PORT=